# PROJETO CIÊNCIA DE DADOS COM PYTHON

## Inadimplência em Cartões de Crédito

Primeiro projeto realizado no Jupyter Notebook com o objetivo de colocar em prática conhecimentos que venho adquirindo no curso de Data Science da IBM (em andamento), cursos de programação na DevMedia e baseado no livro Projeto de Ciência de Dados com Python da autoria de Stephen Klosterman.

O objetivo é desenolver um modelo de previsão quais contas de cartão ficarão inadimplentes no mês seguinte.

In [2]:
import pandas as pd
# importando a biblioteca pandas como abreviação pd

In [6]:
df = pd.read_excel('default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [7]:
df.shape
#comando utilizado para verifica número de linhas e colunas

(30000, 25)

In [8]:
df.info

<bound method DataFrame.info of                   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]>

In [9]:
df.head

<bound method NDFrame.head of                   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]>